<ion-header>
  <ion-toolbar>
    <img height="45px" src="/assets/icon/watermarkh.svg" style="position: absolute; top: 4px; left:8px; margin: 2px;" alt="">
    <ion-title style="margin-left:35px;">
      GEHify <strong><i>Fotos</i></strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="selectImageBtn" (click)="getImages()" expand="block" style="margin-top: 15px;"
    ><ion-icon name="images"></ion-icon> &nbsp; Bilder Wählen</ion-button
  >
  <ion-button color="medium" (click)="addLogo()" *ngIf="imageResponse" expand="block"
    ><ion-icon name="aperture"></ion-icon> &nbsp; Logo hinzufügen</ion-button
    >
    <ion-button color="danger" (click)="cancel()" *ngIf="imageResponse || processed" expand="block"> <ion-icon name="trash"></ion-icon> &nbsp;Abbrechen</ion-button>
    <ion-button color="success" (click)="save()" *ngIf="processed" expand="block"> <ion-icon name="save"></ion-icon> &nbsp;Speichern</ion-button>
  <section>
    <div class="images">
      <div class="one-image" *ngFor="let img of imageProcessed">
        <img src="{{ img }}" alt="" srcset="" />
      </div>
    </div>
  </section>
  <section>
    <div class="images">
      <div class="one-image" *ngFor="let img of imageResponse">
        <img src="{{ img }}" alt="" srcset="" />
      </div>
    </div>
  </section>
</ion-content>
