<ion-header>
  <ion-toolbar>
    <img height="45px" src="/assets/icon/watermarkh.svg" style="position: absolute; top: 4px; left:8px; margin: 2px;" alt="">
    <ion-title style="margin-left:35px;">
      GEHify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Los Geht's</ion-card-subtitle>
      <ion-card-title>Wilkommen bei GEHify</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Jetzt kannst du das Logo der Gesamtschule Höhscheid deinen Fotos hinzufügen!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
